html {
  font-size: 10px;
  background: url(./images/drumset.jpg);
  background-size: cover;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid rgb(187, 121, 121);
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: rgb(238, 240, 96);
  background: rgba(177, 34, 34, 0.4);
  text-shadow: 0 0 0.5rem rgb(0, 0, 0);
}
